// sizes

$size01:1800px;
$size02:100%;
$size03:100px;
$size04:50px;
$size05:30px;
$size06:800px;
$size07:250px;
$size08:20px;
$size09:15px;
$size10:400px;
$size11:650px;



// colors
$color01:white;
$color02:red;
$color03:yellow;
$color04:black;
$color05:seagreen;
$color06:tan;
$color07:springgreen;